.weather-container {
  width: 380px;
  background: linear-gradient(135deg, #01e6d2, #733a6e);
  color: white;
  padding: 22px;
  border-radius: 20px;
  text-align: center;
  margin: 20px auto;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 22px;
  margin-bottom: 10px;
}

.search-box {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 16px;
}

.search-box input {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 65%;
}

.search-box button {
  background: #ece6e6;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-box button:hover {
  background: #27ae60;
}

.weather-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 16px;
  color: #f8f8f8;
}

.forecast-alert {
  background: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 14px;
  color: #fff;
}

/* ---- Forecast Section ---- */
.forecast-section {
  margin-top: 16px;
  text-align: center;
}

.forecast-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.forecast-card {
  background: #ffffff10;
  border-radius: 10px;
  padding: 10px 14px;
  color: #fff;
  min-width: 80px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.525);
  transition: transform 0.2s ease;
}

.forecast-card:hover {
  transform: translateY(-4px);
  background: #a810c370;
}
.gps-btn {
  background: #aae63b;
}

.gps-btn:hover {
  background: #2980b9;
}

.location-text {
  margin: 10px 0;
  font-size: 14px;
  color: #eee;
}

.farmer-advice {
  background: rgba(136, 204, 10, 0.664);
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.lang-select {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.lang-select {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #050505;
  font-size: 1em;
  border-radius: 5%;
}

